.mangage-doctor-container{
    padding: 15px;
    .manage-doctor-title{
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: blue;
    }

    .more-infor{
        display: flex;
        gap: 15px;
        padding-bottom: 15px;

        .content-left{
            width: 40%;
        }

        .content-right{
            width: 60%;
        }
    }

    .btn-container{
        position: relative;
        margin-top: 5px;
        width: 160px;
        height: 30px;

        .btn-save{
            position: absolute;
            text-align: center;
            border: none;
            background-color: aqua;
            box-shadow: 1px 2px 3px #141414;
            cursor: pointer;

            &:active{
                top: 2px;
                left: 2px;
                border-color: transparent;
                box-shadow: none;
            }
        }
    }
}