.doctor-schedule-container {
    height: 100%;
    border-right: 1px solid #ddd;
    .all-schedule {
        select {
            border-bottom: 1px solid #ddd;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            padding-top: 10px;
            color: #337ab7;
            cursor: pointer;
            font-weight: 600;
        }
       
    }

    .all-available-time {

        .text-calendar {
            margin: 10px 0;
            color: #333;
            span{

                text-transform: uppercase;
            }

            i{
                margin-right: 5px;
            }
        }

        .time-content {

            .time-content-btn{
                
                button {
                    cursor: pointer;
                    padding: 5px 10px;
                    border: none;
                    outline: none;
                    background-color: #fff04b;

                    border-radius: 3px;
                    margin: 7px 5px;
                    color: #333;

                    &:hover {
                        background-color: #45c3d2;
                        color: white;
                    }
                }

                .btn-vi{
                    min-width: 120px;
                }

                .btn-en {
                    min-width: 150px;
                }

                .no-schedule {
                    font-style: italic;
                    font-size: 14px;
                }
            }
        }
    }
}