
.profile-doctor-container{

    .intro-doctor {
        display: flex;
        width: 100%;
        height: 150px;
        border-bottom: 1px solid #ddd;
        
        .profile-content-left {
            width: 10%;
            display: flex;
            align-items: center;
            
            img {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background: center center no-repeat;
            }
        }
    
        .profile-content-right {
            margin-left: 100px;
            padding: 10px;
            width: 90%;
            
            .up {
                font-size: 20px;
                font-weight: 600;
            }
    
            .down {
                width: 100%;
                
                .price{
                    margin-top: 3px;
                    span{
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .see-more{
        margin-left: 10px;
    }
}